# Compiled object files
*.o
*.pyc

# Build directories
objects/
bin/
# Eclipse metadata
.project
.cproject

# OS X extended attribute stores
.DS_Store
.DS_Store.*

# Editor leftovers
*~

# CLion metadata
.idea

.Rproj.user
